<div class="row">
  <div class="col-12 mt-5 mb-5 form">
    <h1>Login</h1>
    <div class="form-group">
      <label class="label">Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" placeholder="Enter your email" />
    </div>
    <div class="form-group">
      <label class="label">Password</label>
      <input type="text" class="form-control" [(ngModel)]="password" placeholder="Enter your password" />
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="loginUser()">Login</button>
    </div>
  </div>
</div>
